<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/appframe :: head"></head>
<body>
<nav th:replace="fragment/appframe :: menubar"></nav>
<div class="ui main container">
    <header th:replace="fragment/appframe :: page-header"></header>

    <form th:object="${event}" th:action="@{${pageInfo.pageURL()}}" method="post" action="#" class="ui form">
        <div class="field">
            <label>Event ID</label>
            <span th:text="${event.id()}">1</span>
        </div>
        <div class="required field">
            <label>Name</label>
            <input placeholder="Name" type="text" th:field="*{name.value}"/>
        </div>
        <div class="field">
            <label>Description</label>
            <textarea placeholder="Description" th:field="*{description.value}"></textarea>
        </div>

        <div class="ui buttons">
            <button class="ui primary button" type="submit">Save</button>
            <div class="or"></div>
            <a class="ui button" th:href="@{${breadcrumb.beforePage().pageURL()}}">Cancel</a>
        </div>
    </form>

</div>
<footer th:replace="fragment/appframe :: footer"></footer>
</body>
</html>