<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/appframe :: head"></head>
<body>
<nav th:replace="fragment/appframe :: menubar"></nav>

<div class="ui main container">
    <header th:replace="fragment/appframe :: page-header"></header>

    <form th:object="${eventCriteria}" th:action="@{${pageInfo.pageURL()}}" method="post" action="#" class="ui form">
        <div class="ui action input">
            <input type="text" placeholder="name or description" th:field="*{likeEventNameOrDescription.value}">
            <div class="ui buttons">
                <button class="ui primary button">Search</button>
                <div class="or"></div>
                <a class="ui button" th:href="@{/event/list?clear}">Clear</a>
            </div>
        </div>
    </form>

    <table class="ui celled table">
        <thead>
        <tr>
            <th></th>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Status</th>
            <th>Version</th>
            <th>Revised At</th>
            <th>Created At</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="event : ${events.asList()}">
            <td>
                <th:block th:if="${event.eventStatus().isOpen()}">
                    <a href="#" class="ui primary button"
                       th:href="@{/event/{eventId}/edit(eventId=${event.eventId()})}">Edit</a>
                    <button class="ui button" type="button"
                            th:onclick="|$.post('@{/api/event/{eventId}/close(eventId=${event.eventId()})}', function(data){location.reload();})|">
                        Close
                    </button>
                </th:block>
                <th:block th:if="${event.eventStatus().isClosed()}">
                    <button class="ui button" type="button"
                            th:onclick="|$.post('@{/api/event/{eventId}/reopen(eventId=${event.eventId()})}', function(data){location.reload();})|">
                        Reopen
                    </button>
                </th:block>
            </td>
            <td th:text="${event.eventId()}">1</td>
            <td th:text="${event.eventName()}">name</td>
            <td th:with="sentence = ${event.eventDescription().toString()}">
                <th:block th:if="${sentence}">
                    <th:block th:each="str, stat : ${sentence.split('\r\n|\r|\n', -1)}">
                        <th:block th:text="${str}"/>
                        <br th:if="${!stat.last}"/>
                    </th:block>
                </th:block>
            </td>
            <td th:text="${event.eventStatus()}">status</td>
            <td th:text="${event.revision().revisionNumber()}">1</td>
            <td th:text="${event.revision().revisedDateTime().format()}">2018/09/17 02:14:02</td>
            <td th:text="${event.revision().createdDateTime().format()}">2018/09/17 02:14:02</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th colspan="8">
                <span th:text="|全 ${events.count()} 件|">全 10 件</span>
                <div class="ui right floated pagination menu" th:if="${!events.isEmpty()}"
                     th:with="pagination = ${events.pagination()}">
                    <a href="#" class="icon item"
                       th:href="${pagination.currentPage().isFirstPage()} ? '#' : @{/event/list(page=${pagination.currentPage().prev()})}"
                       th:classappend="${pagination.currentPage().isFirstPage()} ? 'disabled': ''">
                        <i class="left chevron icon"></i>
                    </a>
                    <th:block th:each="page : ${pagination.pageSequence()}">
                        <a href="#" class="item" th:text="${page}"
                           th:href="${page.is(pagination.currentPage())} ? '#' : @{/event/list(page=${page})}"
                           th:classappend="${page.is(pagination.currentPage())} ? 'disabled' : ''">1</a>
                    </th:block>
                    <a href="#" class="icon item"
                       th:href="${pagination.currentPage().is(pagination.lastPage())} ? '#' : @{/event/list(page=${pagination.currentPage().next()})}"
                       th:classappend="${pagination.currentPage().is(pagination.lastPage())} ? 'disabled' : ''">
                        <i class="right chevron icon"></i>
                    </a>
                </div>
            </th>
        </tr>
        </tfoot>
    </table>

</div>
<footer th:replace="fragment/appframe :: footer"></footer>
</body>
</html>