<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/appframe :: head"></head>
<body>
<nav th:replace="fragment/appframe :: menubar"></nav>
<div class="ui main container">
    <header th:replace="fragment/appframe :: page-header"></header>

    <form method="post" action="#" class="ui form"
          th:object="${event}" th:action="@{${pageInfo.pageURL()}}"
          th:classappend="${#fields.allErrors()} ? 'error'">
        <section class="ui error message" th:if="${#fields.hasAnyErrors()}">
            <h2 class="header">Errors</h2>
            <ul>
                <li th:each="err : ${#fields.allErrors()}" th:text="${err}">Input is incorrect</li>
            </ul>
        </section>
        <div class="required field" th:classappend="${#fields.hasErrors('name.value')} ? 'error'">
            <label>Name</label>
            <input placeholder="Name" type="text" th:field="*{name.value}"/>
        </div>
        <div class="field">
            <label>Description</label>
            <textarea placeholder="Description" th:field="*{description.value}"></textarea>
        </div>
        <button class="ui primary button" type="submit" name="return">Save</button>
        <button class="ui primary button" type="submit" name="continuous">Continuous Register</button>
        <a class="ui button" th:href="@{${breadcrumb.beforePage().pageURL()}}">Cancel</a>
    </form>

</div>
<footer th:replace="fragment/appframe :: footer"></footer>
</body>
</html>