<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="naitokikaku.sscoordinator.infrastructure.datasource.event.snapshot.EventSnapshotMapper">

    <resultMap id="EventSnapshot" type="naitokikaku.sscoordinator.domain.model.event.snapshot.EventSnapshot">
        <result property="eventId.value" column="event_id"/>
        <result property="eventName.value" column="event_name"/>
        <result property="eventDescription.value" column="event_description"/>
        <result property="eventStatus.value" column="event_status"/>
        <result property="eventStatus.closedDateTime.value" column="closed_at"/>
        <result property="revision.revisionId.value" column="event_revision_id"/>
        <result property="revision.revisionNumber.value" column="event_revision_number"/>
        <result property="revision.createdDateTime.value" column="created_at"/>
        <result property="revision.revisedDateTime.value" column="revised_at"/>
    </resultMap>

    <sql id="where">
        <where>
            <if test="criteria.likeEventNameOrDescription.hasValue()">
                <bind name="likeEventNameOrDescription" value="criteria.likeEventNameOrDescription().queryText()"/>
                revisions.event_name LIKE #{likeEventNameOrDescription}
                OR revisions.event_description LIKE #{likeEventNameOrDescription}
            </if>
        </where>
    </sql>

    <select id="countByCriteria" resultType="Long">
        SELECT count(*)
        FROM event.latest_events latest
        JOIN event.event_revisions revisions ON latest.event_revision_id = revisions.event_revision_id
        JOIN event.events events ON latest.event_id = events.event_id
        <include refid="where"/>
    </select>

    <select id="findByCriteria" resultMap="EventSnapshot">
        SELECT
            events.event_id,
            revisions.event_name,
            revisions.event_description,
            CASE WHEN closed.event_id IS NULL THEN 'OPEN'
                 ELSE 'CLOSED'
            END as event_status,
            closed.closed_at,
            revisions.event_revision_id,
            revisions.event_revision_number,
            events.created_at,
            revisions.revised_at
        FROM event.latest_events latest
        JOIN event.event_revisions revisions ON latest.event_revision_id = revisions.event_revision_id
        JOIN event.events events ON latest.event_id = events.event_id
        LEFT JOIN event.closed_events closed ON events.event_id = closed.event_id
        <include refid="where"/>
        ORDER BY events.event_id
        <bind name="limit" value="criteria.pagination().limit()"/>
        <bind name="offset" value="criteria.pagination().offset()"/>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="findById" resultMap="EventSnapshot">
        SELECT
            events.event_id,
            revisions.event_name,
            revisions.event_description,
            CASE WHEN closed.event_id IS NULL THEN 'OPEN'
                 ELSE 'CLOSED'
            END as event_status,
            closed.closed_at,
            revisions.event_revision_id,
            revisions.event_revision_number,
            events.created_at,
            revisions.revised_at
        FROM event.latest_events latest
        JOIN event.event_revisions revisions ON latest.event_revision_id = revisions.event_revision_id
        JOIN event.events events ON latest.event_id = events.event_id
        LEFT JOIN event.closed_events closed ON events.event_id = closed.event_id
        WHERE
            events.event_id = #{eventId.value}
    </select>

</mapper>
