<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/nonauthframe :: head"></head>
<body>
<nav th:replace="fragment/nonauthframe :: menubar"></nav>
<div class="ui main container">
    <header th:replace="fragment/nonauthframe :: page-header"></header>

    <section class="ui stackable two column grid">
        <div class="column">
            <section class="ui segment">
                <h3 class="ui header">Information</h3>
                <div class="ui divider"></div>
                <img class="ui image" th:src="@{/images/dummy/short-paragraph.png}">
            </section>
        </div>
        <div class="column">
            <section class="ui segment">
                <h3 class="ui header">Login Form</h3>
                <div class="ui divider"></div>
                <section class="ui error message" th:if="${errorMessage}">
                    <h2 class="header">Errors</h2>
                    <p th:text="${errorMessage}">Input is incorrect</p>
                </section>
                <form method="post" action="#" th:action="@{/login}" class="ui form"
                      th:classappend="${errorMessage} ? 'error'">
                    <div class="required field" th:classappend="${errorMessage} ? 'error'">
                        <label>Email</label>
                        <input placeholder="example@example.com" type="email" name="emailAddress" th:value="${emailAddress}"/>
                    </div>
                    <div class="required field" th:classappend="${errorMessage} ? 'error'">
                        <label>Password</label>
                        <input placeholder="******" type="password" name="password"/>
                    </div>
                    <button class="ui primary button" type="submit" name="login">Login</button>
                </form>
                <div class="ui divider"></div>
                <a href="#" th:href="@{/signup}">>> to SignUp Form</a>
            </section>
        </div>
    </section>

</div>
<footer th:replace="fragment/nonauthframe :: footer"></footer>
</body>
</html>