<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/appframe :: head"></head>
<body>
<nav th:replace="fragment/appframe :: menubar"></nav>
<div class="ui main container">
    <header th:replace="fragment/appframe :: page-header"></header>

    <section class="ui stackable two column grid">
        <div class="column">
            <section class="ui segment">
                <h3 class="ui header">Information</h3>
                <div class="ui divider"></div>
                <img class="ui wireframe image" th:src="@{/images/dummy/short-paragraph.png}">
            </section>
        </div>
        <div class="column">
            <section class="ui segment">
                <h3 class="ui header">SignUp Form</h3>
                <div class="ui divider"></div>
                <form method="post" action="#" class="ui form"
                      th:object="${signUpForm}" th:action="@{/signup}"
                      th:classappend="${#fields.allErrors()} ? 'error'">
                    <section class="ui error message" th:if="${#fields.hasAnyErrors()}">
                        <h2 class="header">Errors</h2>
                        <ul>
                            <li th:each="err : ${#fields.allErrors()}" th:text="${err}">Input is incorrect</li>
                        </ul>
                    </section>
                    <section class="ui error message" th:if="${passwordPolicyViolation}">
                        <h2 class="header">Errors</h2>
                        <p th:text="${passwordPolicyViolation.message()}">password policy violation message</p>
                    </section>
                    <section class="ui error message" th:if="${accountPolicyViolations}">
                        <h2 class="header">Errors</h2>
                        <ul>
                            <li th:each="err : ${accountPolicyViolations.messages()}" th:text="${err}">
                                account policy violation message
                            </li>
                        </ul>
                    </section>
                    <div class="required field" th:classappend="${#fields.hasErrors('accountName.value')} ? 'error'">
                        <label>Account Name</label>
                        <input placeholder="account name" type="text" th:field="*{accountName.value}"/>
                    </div>
                    <div class="required field"
                         th:with="bindingError = ${#fields.hasErrors('emailAddress.value')},
                                  policyViolation = ${accountPolicyViolations != null}"
                         th:classappend="${ bindingError or policyViolation } ? 'error'">
                        <label>Email</label>
                        <input placeholder="example@example.com" type="email" th:field="*{emailAddress.value}"/>
                    </div>
                    <div class="required field"
                         th:with="bindingError = ${#fields.hasErrors('password.value') or #fields.hasErrors('noTypoPassword')},
                                  policyViolation = ${passwordPolicyViolation != null}"
                         th:classappend="${ bindingError or policyViolation } ? 'error'">
                        <label>Password</label>
                        <input placeholder="******" type="password" th:field="*{password.value}"/>
                    </div>
                    <div class="required field"
                         th:with="bindingError = ${#fields.hasErrors('retypedPassword.value') or #fields.hasErrors('noTypoPassword')},
                                  policyViolation = ${passwordPolicyViolation != null}"
                         th:classappend="${ bindingError or policyViolation } ? 'error'">
                        <label>Password(confirm)</label>
                        <input placeholder="******" type="password" th:field="*{retypedPassword.value}"/>
                    </div>
                    <button class="ui primary button" type="submit" name="signUp">Sign Up</button>
                </form>
            </section>
        </div>
    </section>

</div>
<footer th:replace="fragment/appframe :: footer"></footer>
</body>
</html>