<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/appframe :: head"></head>
<body>
<nav th:replace="fragment/appframe :: menubar"></nav>
<div class="ui main container">
    <header th:replace="fragment/appframe :: page-header"></header>

    <section class="ui stackable three column grid">
        <div class="column">
            <section class="ui segment">
                <h3 class="ui header">Login / Logout / SignUp</h3>
                <div class="ui divider"></div>
                <a href="#" th:href="@{/login}" class="ui labeled icon button">
                    <i class="icon user"></i>
                    Login
                </a>
                <a href="#" th:href="@{/logout}" class="ui labeled icon button">
                    <i class="icon user"></i>
                    Logout
                </a>
                <a href="#" th:href="@{/signup}" class="ui labeled icon primary button">
                    <i class="icon user plus"></i>
                    SignUp
                </a>
            </section>
        </div>
        <div class="column">
            <section class="ui segment column">
                <h3 class="ui header">Event</h3>
                <div class="ui divider"></div>
                <ul class="ui bulleted list">
                    <li class="item">
                        <a href="#" th:href="@{/event/register}"><i class="file icon"></i>イベント登録</a>
                    </li>
                    <li class="item">
                        <a href="#" th:href="@{/event/list}"><i class="folder open icon"></i>イベント一覧</a>
                    </li>
                </ul>
            </section>
        </div>
        <div class="column">
            <section class="ui segment">
                <h3 class="ui header">Dummy header</h3>
                <div class="ui divider"></div>
                <ul class="ui bulleted list">
                    <li class="item"><a href="#">dummy1</a></li>
                    <li class="item"><a href="#">dummy2</a></li>
                </ul>
            </section>
        </div>
    </section>

</div>

<footer th:replace="fragment/appframe :: footer"></footer>
</body>
</html>